// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #DDCEC2;
@light-gray: #8B817A;
@gray: #4e4844;
@dark-gray: #3E3834;
@very-dark-gray: #2c2825;

@cyan: #44c2cb;
@blue: #1c8dcb;
@purple: #ae81ff;
@green: #0ccf7c;
@red: #FF6E70;
@orange: #ffc83f;
@light-orange: #F3F96F;
